<% layout('layouts/boilerplate.ejs') %>


    <body>
        <br>
        <h3>Create New Listing</h3>
        <form action="/listings" method="post">

            <div class="row">
                <div class="col-8 offset-2">
                    <div>
                        <label for="title" class="form-label">Title</label>
                        <input type="text" placeholder="Add a title" name="listing[title]"  required class="form-control">
                    </div>

                    <br>

                    <div>
                        <label for="description" class="form-label">Desrciption</label>
                        <textarea name="listing[description]" id="" placeholder="Enter description" required 
                            class="form-control"></textarea>
                    </div>
                    <br>

                    <div>
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" placeholder="Enter image url" name="listing[image]"  required class="form-control">
                    </div>

                    <br>

                    <div class="row">

                        <div class="col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" placeholder="Enter price" name="listing[price]" type="number" required 
                                class="form-control">
                        </div>
                        <div class="col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" placeholder="Enter country" name="listing[country]"  required class="form-control">
                        </div>
                    </div>

                    <br>
                    <div>
                        <label for="Location" class="form-label">Location</label>
                        <input type="text" placeholder="Enter location" name="listing[location]"  required class="form-control">
                    </div>

                    <br>
                </div>
            </div>
            <button class="btn btn-dark">Submit</button>
        </form>
        <br>
    </body>